.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #ad563b; */
  padding: 10px 20px;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 8vh;
  background-color: #ff9933;
  color: #ffffff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  height: 6vh;
  width: 6vh;
  background-image: url(./2.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.time {
  margin-left: 20px;
  font-size: 16px;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navLinks {
  display: flex;
  gap: 20px;
}

.navLink {
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.2vh;
  color: white;
  text-transform: uppercase;
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  color: white;
  transition: width 0.3s ease-in-out;
}

.navLink:hover::after {
  width: 100%;
  color: #ffb74d;
}
.rightContainer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
li {
  list-style: none;
}
.btn {
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2vh;
  border: none;
  font-size: 2.5vh;
  background-color: transparent;
  font-size: 2.2vh;
  color: white;
  text-transform: uppercase;
}
.btn:hover {
  background-color: transparent;
  color: red;
  transition: 0.4s ease-in;
}
.btn:hover::after {
  transition: 1s ease-in-out;
}
