.stairOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
}

.stairContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.stair {
  height: 100%;
  width: 20%;
}

.black {
  background-color: rgb(0, 0, 0);
}

.pageContent {
  width: 100%;
  height: auto;
}
